.music-ranking
  width: 100%
  height: 100%
  .ranking-list
    padding-bottom: 15px
    .ranking-wrapper
      display: flex
      margin: 15px
      background-color: #333333
      .left
        flex: 0 0 100px
        width: w = 100px
        height: h = @width
        img
          width: w
          height: h
      .right
        flex: 1
        line-height: 22px
        font-size: 14px
        padding: 0 10px
        overflow: hidden
        .ranking-title
          font-size: 16px
          color: #FFFFFF
          margin: 4px 0 6px 0
        .top-song, .ranking-title
          overflow: hidden
          text-overflow: ellipsis
          white-space: nowrap
          .index
            margin-right: 10px
          .song
            color: rgba(221,221,221,0.7)